
.title {
    color: rgba(0, 0, 0, 0.85);
    font-size: 30px;
    font-weight: 600;
    line-height: 1.35;
    margin-bottom: 0.5em;
    margin-top: 0;
    padding-top: 1em;
    text-align: center;
}